@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0deg, 0%, 20%);
  color: hsl(0deg, 0%, 96%);
  background-image: url("../imgs/background.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.helpers {
  display: none;
}

#editorKeyHelper {
  position: absolute;
  z-index: -99;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.app .toolbar {
  padding: 0 10px;
  background-color: hsl(0deg, 0%, 15%);
  box-shadow: 0 0 5px 0 hsl(0deg, 0%, 0%);
  min-height: 36px;
  position: fixed;
  width: 100vw;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app .toolbar ul {
  list-style-type: none;
  display: flex;
  color: hsl(0deg, 0%, 76%);
  border-spacing: 0;
}
.app .toolbar ul li {
  text-align: center;
  padding: 10px 7px;
  cursor: pointer;
}
.app .toolbar ul li:hover {
  color: hsl(0deg, 0%, 96%);
  background-color: hsl(0deg, 0%, 20%);
}
.app .toolbar ul li[disabled] {
  color: hsl(0deg, 0%, 56%);
  pointer-events: none;
}
.app .settings, .app .idChanger {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(0deg, 0%, 15%);
  z-index: 1000;
  border: 1px solid hsl(0deg, 0%, 56%);
  box-shadow: 5px 3px 15px 0 hsl(0deg, 0%, 5%);
  padding: 20px 10px;
  padding-top: 0;
}
.app .settings #closeBtn, .app .settings #closeBtnChanger, .app .idChanger #closeBtn, .app .idChanger #closeBtnChanger {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.app .settings #closeBtn:hover, .app .settings #closeBtnChanger:hover, .app .idChanger #closeBtn:hover, .app .idChanger #closeBtnChanger:hover {
  color: hsl(0deg, 100%, 50%);
}
.app .settings div, .app .idChanger div {
  text-align: left;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app .settings input, .app .idChanger input {
  width: 50px;
  font-size: large;
  color: hsl(0deg, 0%, 76%);
  background-color: hsl(0deg, 0%, 15%);
  border: none;
  border-bottom: 1px solid hsl(0deg, 0%, 76%);
  text-align: center;
  outline: none;
}
.app .settings h2, .app .idChanger h2 {
  font-weight: 400;
  margin: 0;
}
.app .content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;
}
.app .content .zoomBox {
  position: absolute;
  top: 56px;
  left: 8px;
  width: 300px;
  display: flex;
}
.app .content .zoomBox .material-symbols-outlined {
  font-weight: 300;
  cursor: pointer;
  color: hsl(0deg, 0%, 76%);
}
.app .content .zoomBox .material-symbols-outlined:hover {
  color: hsl(0deg, 0%, 96%);
}
.app .content .objects {
  display: none;
  position: relative;
  top: 48px;
  width: 300px;
  height: calc(100vh - 48px);
  background-color: hsl(0deg, 0%, 15%);
  box-shadow: 0 0 15px 0 hsl(0deg, 0%, 0%);
}
.app .content .objects.show {
  display: block;
}
.app .content .objects h3 {
  font-weight: 400;
  text-align: center;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid hsl(0deg, 0%, 76%);
}
.app .content .objects ul {
  list-style-type: none;
  margin: 15px 10px;
}
.app .content .objects ul li {
  display: flex;
  cursor: pointer;
  align-items: flex-star;
  justify-content: flex-start;
  color: hsl(0deg, 0%, 76%);
}
.app .content .objects ul li ul {
  font-size: small;
}
.app .content .objects ul li.active {
  color: hsl(100deg, 100%, 50%);
}
.app .content .objects ul li.active:hover {
  color: hsl(100deg, 100%, 50%);
}
.app .content .objects ul li details {
  margin-left: 10px;
}
.app .content .objects ul li:hover {
  color: hsl(0deg, 0%, 96%);
}
.app .editor {
  position: relative;
  top: 36px;
  overflow: auto;
  margin: 10px;
  width: calc(100% - 20px);
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .editor #rect {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: -1;
}
.app .editor svg {
  max-width: 100%;
  max-height: 100%;
  transform: scale(1);
}
.app .editor svg polygon {
  fill: hsl(100deg, 100%, 50%);
  fill-opacity: 0.5;
  stroke: hsl(0deg, 0%, 0%);
}
.app .editor svg polygon.active {
  stroke: hsl(0deg, 100%, 50%);
}
.app .editor svg polygon.over {
  fill-opacity: 1;
}
@-webkit-keyframes flashPolygon {
  0% {
    fill: hsl(100deg, 100%, 50%);
  }
  50% {
    fill: hsl(100deg, 100%, 0%);
  }
  100% {
    fill: hsl(100deg, 100%, 50%);
  }
}
@keyframes flashPolygon {
  0% {
    fill: hsl(100deg, 100%, 50%);
  }
  50% {
    fill: hsl(100deg, 100%, 0%);
  }
  100% {
    fill: hsl(100deg, 100%, 50%);
  }
}
.app .editor svg circle.pointHelper {
  fill: hsla(0deg, 100%, 50%, 0);
}
.app .editor svg circle.pointHelper:hover:not(.active) {
  fill: hsl(0deg, 100%, 50%);
}
.app .editor svg g.addPoint {
  cursor: pointer;
  opacity: 1;
  transition: opacity 150ms;
}
.app .editor svg g.addPoint circle.outer {
  fill: transparent;
}
.app .editor svg g.addPoint:hover {
  opacity: 1;
}
.app .editor svg g.addPoint circle.inner {
  fill: hsl(131deg, 100%, 26%);
  stroke: hsl(0deg, 0%, 98%);
  stroke-width: 3;
}
.app .editor svg g.addPoint text {
  fill: hsl(0deg, 0%, 98%);
  font-size: 24pt;
}
.app .editor.view svg > polygon {
  stroke-width: 0;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}
.app .editor.view svg > polygon:hover {
  opacity: 1;
}
.app [disabled] {
  display: none;
}/*# sourceMappingURL=main.css.map */