@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding: 0;
}
body{
  background-color: hsl(0, 0%, 20%);
  color:hsl(0, 0%, 96%);
  background-image: url("../imgs/background.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
}
.helpers{
  display: none;
}
#editorKeyHelper{
  position: absolute;
  z-index: -99;
  top:0;
  left:0;
  width:0;
  height:0;
}
.app{
  display: flex;
  flex-direction: column;
  height:100vh;
  .toolbar{
    padding: 0 10px;
    background-color: hsl(0, 0%, 15%);
    box-shadow: 0 0 5px 0 hsl(0, 0%, 0%);
    min-height: 36px;
    position: fixed;
    width:100vw;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{
      list-style-type: none;
      display: flex;
      color: hsl(0, 0%, 76%);
      border-spacing: 0;
      li{
        text-align: center;
        padding:10px 7px;
        cursor: pointer;

        &:hover{
          color:hsl(0, 0%, 96%);
          background-color: hsl(0, 0%, 20%);
        }
        &[disabled]{
          color: hsl(0, 0%, 56%);
          pointer-events: none;
        }
      }
    }
  }

  .settings,.idChanger{
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(0, 0%, 15%);
    z-index: 1000;
    border: 1px solid hsl(0, 0%, 56%);
    box-shadow: 5px 3px 15px 0 hsl(0, 0%, 5%);
    padding: 20px 10px;
    padding-top: 0;
    #closeBtn,#closeBtnChanger{
      position: absolute;
      right:10px;
      top:10px;
      cursor: pointer;
      &:hover{
        color: hsl(0, 100%, 50%);
      }
    }
    div{
      text-align: left;
      width: 250px;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
    input{
      width:50px;
      font-size: large;
      color: hsl(0, 0%, 76%);
      background-color: hsl(0, 0%, 15%);
      border: none;
      border-bottom: 1px solid hsl(0, 0%, 76%);
      text-align: center;
      outline: none;
    }
    h2{
      font-weight: 400;
      margin: 0;
    }
  }
  .content{
    position: relative;
    flex:1;
    display: flex;
    flex-direction: row;

    .zoomBox{
      position: absolute;
      top: 56px;
      left: 8px;
      width: 300px;
      display: flex;
      .material-symbols-outlined{

        font-weight: 300;
        cursor: pointer;
        color: hsl(0, 0%, 76%);
        &:hover{
          color: hsl(0, 0%, 96%);
        }
      }

    }
    .objects{
      display: none;
      position: relative;
      top:48px;
      width:300px;

      height: calc(100vh - 48px);
      background-color: hsl(0, 0%, 15%);
      box-shadow: 0 0 15px 0 hsl(0, 0%, 0%);
      &.show{
        display: block;
      }
      h3{
        font-weight: 400;
        text-align: center;
        margin: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid hsl(0, 0%, 76%);
      }
      ul{
        list-style-type: none;
        margin:15px 10px;
        li{
          display: flex;
          cursor: pointer;
          align-items: flex-star;
          justify-content: flex-start;
          color: hsl(0, 0%, 76%);
          ul{
            font-size: small;
          }
          &.active{
            color: hsl(100, 100%, 50%);
            &:hover{
              color: hsl(100, 100%, 50%);
            }
          }
          details{
            margin-left:10px;
          }
          &:hover{
            color: hsl(0, 0%, 96%);
          }
        }
      }
    }
  }
  .editor{
    position: relative;
    top:36px;
    // flex: 1;
    overflow: auto;
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    justify-content: center;
    #rect{
      position:absolute;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%) scale(1);
      z-index: -1;

    }
    svg{
      max-width: 100%;
      max-height: 100%;
      transform: scale(1);
      polygon{
        fill: hsl(100, 100%, 50%);
        fill-opacity: .5;
        stroke: hsl(0, 0%, 0%);
        &.active{
          // stroke-dasharray: 1;
          stroke: hsl(0, 100%, 50%);
          // animation: flashPolygon 200ms;
        }
        &.over{
          fill-opacity: 1;
        }
        @keyframes flashPolygon {
          0%{
            fill: hsl(100, 100%, 50%);
          }
          50%{
            fill: hsl(100, 100%, 0%);
          }
          100%{
            fill: hsl(100, 100%, 50%);
          }
        }
      }
      circle.pointHelper{
        fill:hsla(0, 100%, 50%,0);
        &:hover:not(.active){
          fill:hsl(0, 100%, 50%);

        }
      }
      g.addPoint{
        cursor: pointer;
        opacity:1;
        transition: opacity 150ms;
        circle.outer{
           fill: transparent;

        }
        &:hover{
          opacity:1;
        }
        circle.inner{
          fill:hsl(131deg 100% 26%);
          stroke: hsl(0deg 0% 98%);
          stroke-width: 3;
        }
        text{
          fill: hsl(0deg 0% 98%);
          font-size: 24pt;
        }
      }
    }
    &.view{
      svg>polygon{

        stroke-width: 0;
        opacity: 0;
        transition: opacity .2s;
        cursor: pointer;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
  [disabled]{
    display: none;
  }
}